.form-container{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200pxpx;
    margin-left: 450px;
    position: relative;
    margin-top: 200px;
}
body{
    background-color: grey;
    
    
    min-height: 100vh;

}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
   
}
select{
    width: 100%;
    padding:10px;
    background-color: #7d8f81;
    color: white;
}
input[type="text"] {
    width: 98%;
    height: 20px;
}

label {
    align-content: left;
}
h2{
    text-align: center;
}
